$breakpt2: "max-width: 331px";
$path_to_bgimg3: "../img/250x125.png";

@media ($breakpt2) {
	#main-header {
		height: 29vh;

		#logo {
			background-image: url($path_to_bgimg3);
			height: 100%;
			width: 100%;
		}
		#menu {
			height: fit-content;
		}
	}
}
