@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

$dark-color: #282828;
$med-color: #333333;
$light-color: #f2f1ee;
$main-font: "Montserrat", sans-serif;
$header-font: "Bebas Neue", cursive;
$path_to_bgimg: "../img/main.png";
