@import "config";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $dark-color;
	color: $light-color;
	font-family: $main-font;
	overflow-x: hidden;
}

#wrapper {
	padding: 2vh 0;
}

#main-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	#logo {
		background-image: url($path_to_bgimg);
		background-repeat: no-repeat;
		background-position: center;
		height: 400px;
		width: 100%;
	}

	#menu {
		ul {
			height: 7vh;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;

			li {
				margin: 0 15px;
				font-family: $header-font;

				a {
					text-decoration: none;
					color: $light-color;
					font-size: 2rem;
				}
			}
		}
	}
}

.fa-chevron-right {
	margin-right: 0.7rem;
}

.fa-chevron-left {
	margin-left: 0.7rem;
}

#timeline {
	margin: 5vh 0;

	ul {
		//creating line
		li {
			list-style: none;
			position: relative;
			width: 6px;
			margin: 0 auto;
			background: $light-color;
			padding-top: 3rem;

			//creating and styling all boxes
			div {
				// margin-left: 16px;
				position: relative;
				bottom: 0;
				width: 35vw;
				padding: 2rem;
				background: $med-color;

				//making it initially invisible then visible on scroll
				visibility: hidden;
				opacity: 0;
				transition: all 0.5s ease-in-out;

				//creating arrow base
				&:before {
					content: "";
					position: absolute;
					bottom: 5px;
					width: 0;
					height: 0;
					border-style: solid;
				}

				//heading
				h3 {
					padding: 5px;
					font-size: 1.5rem;
				}

				//paragraph
				p {
					padding: 5px;
					font-size: 1rem;
				}
			}

			//boxes on right
			&:nth-child(odd) {
				div {
					left: 5.5vw;
					transform: translate(10vw, 0);

					//arrows
					&:before {
						left: -15px;
						width: 0;
						height: 0;
						border-top: 10px solid transparent;
						border-left: 0;
						border-bottom: 10px solid transparent;
						border-right: 16px solid $med-color;
					}
				}
			}

			//boxes on left
			&:nth-child(even) {
				text-align: right;

				div {
					left: -39.5vw;
					transform: translate(-10vw, 0);

					//arrows
					&:before {
						right: -15px;
						width: 0;
						height: 0;
						border-top: 10px solid transparent;
						border-left: 16px solid $med-color;
						border-bottom: 10px solid transparent;
						border-right: 0;
					}
				}
			}

			//creating dots
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 50%;

				//dots initially light-colored turn med-colored after scrolling
				background: inherit;
				transform: translateX(-50%);
				transition: background 0.5s ease-in-out;
			}
		}

		//making boxes appear after scrolling
		li.show {
			div {
				transform: none;
				visibility: visible;
				opacity: 1;
			}

			&:after {
				background: $med-color;
			}
		}
	}
}

@import "breakpt1";
@import "breakpt2";
@import "breakpt3";
